body {
  font-family:'Titillium Web', sans-serif;
  background-color: #f8eee7;
  color: #95618d;
  font-weight: bolder;
  padding-right: 100px;
}
h1 {
  font-weight: bolder;
  text-decoration: underline;
}
h2 {
  font-weight: bolder;
  text-decoration: underline;
}
button {
  border-radius: 8px;
  background-color: #95618d;
  width: 100px;
  height: 40px;
  color: #fec7b8;
}
input {
  background-color: #fec7b8;
  color: #95618d;
  outline-color: #fec7b8;
  border-radius: 30px;
}
.div1 {
  float: right;
  text-decoration: underline;
}
