body {
  font-family:'Titillium Web', sans-serif;
  background-color: #d1d7dc;
  color: #95618d;
  font-weight: bolder;
  padding-right: 100px;
}
h1 {
  font-weight: bolder;
  text-decoration: underline;
}
h2 {
  font-weight: bolder;
  text-decoration: underline;
}
button {
  border-radius: 8px;
  background-color: #95618d;
  width: 100px;
  height: 40px;
  color: #F3F3F2;
}
input {
  background-color:  #E3DEE4;
  color: #95618d;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  outline-color: #95618d;
  border-radius: 10px;
}
.div1 {
  float: right;
}
